src/main/mule/orderjourney-sys-drivinglicence-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="orderjourney-sys-drivinglicence-apiFlow" doc:id="cb15f391-2e08-4b7c-a90d-2783b60a70bf" >
		<http:listener doc:name="Listener" doc:id="5d354c86-282b-4244-aa39-29298bf6f08e" path="/"/>
		<logger level="INFO" doc:name="Logger" doc:id="5b6e8118-9153-4777-aba9-730f8eac51fa" />
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="fe9995b3-b8f1-4636-9fe2-9473640b3cb5" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="b54c49a2-5e60-43e4-ab1a-da33c049317f" />
		<db:select doc:name="Select" doc:id="01cb6631-2803-4d15-9f77-8eafb4c680eb" />
		<logger level="INFO" doc:name="Logger" doc:id="32b94774-cf53-47e1-bb11-3214b2980462" />
		<ee:transform doc:name="Transform Message" doc:id="60722703-a194-495d-bde0-bf100565d9c8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
